<li [ngClass]="{ editing: isEditing, completed: task.isCompleted }">
  <div class="view">
    <input
      class="toggle"
      type="checkbox"
      [checked]="task.isCompleted"
      (change)="toggleTask()"
    />
    <label (dblclick)="setTaskInEditMode()">{{ task.text }}</label>
    <button class="destroy" (click)="removeTask()"></button>
  </div>
  <ng-container *ngIf="isEditing">
    <input
      class="edit"
      #textInput
      [value]="editingText"
      (keyup)="changeText($event)"
      (keyup.enter)="changeTask()"
    />
  </ng-container>
</li>
